@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: all;
}

* {
  font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #5044e5;
}

.cate-card {
  transform: scale(1);
  transition: 0.25s;
}

.cate-card:hover {
  transform: scale(1.1);
}

.input:focus {
  outline: none;
  border: 1px solid;
}

.blog-content h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

.blog-content h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

.blog-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.blog-content ol,
.blog-content ul {
  margin: 1em 0;
  padding-left: 2em;
}

.blog-content li {
  margin: 0.5em 0;
}
